apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80         # Service port
      targetPort: 5000 # Container port
  type: LoadBalancer  # Use ClusterIP if you only want internal access
